/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}

/* custum css*/

/*
 * 全体のスタイル 
 */
.section{
}
/* フォントの設定 */
@font-face{
    font-family: mplus-1p-bold;
    src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-bold.ttf')
         format("truetype");
}
body{
    font-family:mplus-1p-bold;
}
h1{
    display: block;
    font-size: 4em;
    margin-bottom: 5%;
    border-bottom: 2.5px solid rgba(0, 0, 0, .2);
    box-shadow: 0 2.5px 0 rgba(255, 255, 255, 0.4);
    text-shadow: -1px 1px 0 rgba(255, 255, 255, .4);
}
p{
    font-size: 2em;
}
/* PC用スタイル */
.text-area{
    position: absolute;
    width: 50%;
}
.text-area h1{
    width: 80%;
    margin: 0 10% 2% 10%;
}
.text-area p{
    padding: 0% 10%;
}

.global-img{
    position: absolute;
    width: 50%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
    left:0%;
}
/* 画像の初期位置 */
#global-img-div1{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 0%;
    z-index: 100;
}
#global-img-div2{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 23%;
}
#global-img-div3{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 50%;
}
#global-img-div4{
    position: absolute;
    width: 25%;
    top: 40%;
    left: 75%;
}

/* 各ページのデザイン */
/* テキストの位置 */
#pg1 h1{
    font-size: 8em;
    padding-left: 20%;
    margin-bottom: 45%;
}


#pg2 .text-area,
#pg4 .text-area{
    top: 20%;
    left: 50%;
}
#pg3 .text-area,
#pg5 .text-area{
    top: 20%;
    left: 0%;
}
/* 画像の位置 */
#pg2 .global-img,
#pg4 .global-img{
    top: 20%;
    left: -50%;
}
#pg3 .global-img,
#pg5 .global-img{
    top: 20%;
    left: 100%;
}
#pg6 h1{
    font-size: 4em;
    text-align: center;
    margin: 0 20% 2% 20%;
}
#pg6 #sc{
    position: static;
    padding: 0 20%;
    margin: 0;
}
#pg6 .title{
    margin: 0 35%;
    padding-top: 2%;
    color: #444;
}
#pg6 .daylist{
    text-align: center;
    font-size: 3em;
}
/* 各ページにおける位置
 * jQueryによる動作の最終位置
 * このIDが付いている画像はhtmlから消す
 * */
#global_img1_tmp{
    width: 80%;
    padding-left: 10%;
}
#global_img2_tmp{
    width: 50%;
    padding-left: 25%;
}
#global_img3_tmp{
    width: 80%;
    padding-left: 10%;
}
#global_img4_tmp{
    width: 80%;
    padding-left: 10%;
}


/* スマートフォン用スタイル*/
@media screen and (max-width: 360px) {

    #pg1 h1{
        font-size: 4em;
        padding-left: 10%;
        margin-bottom: 100%;
    }
    /* 画像の初期位置 */
    #global-img-div1{
        width: 50%;
        top: 35%;
        left: 0%;
    }
    #global-img-div2{
        width: 40%;
        top: 33%;
        left: 50%;
    }
    #global-img-div3{
        width: 40%;
        top: 70%;
        left: 5%;
    }
    #global-img-div4{
        width: 50%;
        top: 65%;
        left: 50%;
    }

    .text-area{
        width: 100%;
    }
    .text-area h1{
        font-size: 2em;
        width: 80%;
        margin: 0% 10% 5% 10%;
    }
    .text-area p{
        font-size: 1em;
    }
    .global-img{
        width: 100%;
    }
    .global-img img{
        width: 100%;
        left:0%;
    }
    #pg2 .text-area,
    #pg3 .text-area,
    #pg4 .text-area,
    #pg5 .text-area{
        top: 10%;
        left: 0%;
    }
    #pg2 .global-img,
    #pg3 .global-img,
    #pg4 .global-img,
    #pg5 .global-img{
        top: 40%;
        left: 0%;
    }
    #pg2 .global-img{
        top: 45%;
        left: 0%;
    }
    #pg3 .global-img{
        top: 50%;
        left: 100%;
    }
    #pg4 .global-img{
        top: 45%;
        left: -100%;
    }
    #pg5 .global-img{
        top: 50%;
        left: 100%;
    }

    #pg6 h1{
        font-size: 2em;
        text-align: center;
        margin: 0 10% 5% 10%;
    }
    #pg6 p{
        font-size: 1em;
    }
    #pg6 #sc{
        position: static;
        padding: 0 10%;
        margin: 0 0 10% 0;
    }
    #pg6 .title{
        margin: 0 30%;
    }
    #pg6 .daylist{
        text-align: center;
        font-size: 1.5em;
    }
}
