/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}

/* custum css*/

/*
 * 全体のスタイル 
 */
.section{
}
/* フォントの設定 */
body{
    font-family:mplus-1p-bold;
}

h1{
    position: absolute;
    font-size: 5em;
    border-bottom: 5px solid #1e4391;
}
p{
    position: absolute;
    font-size: 2.2em;
    font-size: 3em;
}
img{
    position: absolute;
}

#global_img1{
    z-index: 101;
    white-space: nowrap;
    width: 20%;
    height:auto;
    top: 12%;
    left: 10%;
}
#global_img2{
    z-index: 102;
    white-space: nowrap;
    width: 20%;
    height:auto;
    top: 10%;
    left: 40%;
}
#global_img3{
    z-index: 103;
    white-space: nowrap;
    width: 20%;
    height:auto;
    top: 12%;
    left: 70%;
}
#global_img4{
    z-index: 104;
    white-space: nowrap;
    width: 20%;
    height:auto;
    top: 50%;
    left: 60%;
}

/* 
 * page1
 */
#pg1_title{
    font-size: 8em;
    display:inline-block; 
    top: 55%;
    left: 15%;
}

/*
 * page2
 */

#global_img1_pg2{
    z-index: 101;
    white-space: nowrap;
    width: 45%;
    height:auto;
    top: 12%;
    left: 0%;
}
#pg2_title{
    display:inline-block; 
    font-size: 5em;
    top: 20%;
    left: 45%;
}
#pg2_txt{
    font-size: 2.2em;
    width: 50%;
    top: 40%;
    left: 45%;
}

/* 
 * page3
 */
#global_img2_pg3{
    z-index: 101;
    white-space: nowrap;
    width: 30%;
    height:auto;
    top: 20%;
    left: 55%;
}
#pg3_title{
    display:inline-block; 
    top: 20%;
    left: 15%;
}
#pg3_txt{
    font-size: 2.2em;
    width: 50%;
    top: 40%;
    left: 15%;
}
/*
 * page4
 */
#global_img3_pg4{
    z-index: 101;
    white-space: nowrap;
    width: 40%;
    height:auto;
    top: 15%;
    left: 7%;
}
#pg4_title{
    display:inline-block; 
    top: 20%;
    left: 50%;
}
#pg4_txt{
    font-size: 2.2em;
    width: 50%;
    top: 40%;
    left: 50%;
}
/*
 * page5
 */
#global_img4_pg5{
    z-index: 101;
    white-space: nowrap;
    width: 40%;
    height:auto;
    top: 15%;
    left: 55%;
}
#pg5_title{
    display:inline-block; 
    top: 20%;
    left: 10%;
}
#pg5_txt{
    font-size: 2.2em;
    width: 50%;
    top: 40%;
    left: 11%;
}
